@model EShop.Models.ReturnModel


@{
	ViewData["Title"] = "Edit Return";
    Layout = "_LayoutNew";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Return Form <small></small></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Edit" asp-id="quickForm" id="quickForm">
                <input asp-for="Id" type="hidden" value="@Model.Id"/>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="BookId" class="control-label"></label>
                        <select asp-for="BookId" class="form-control" asp-items="@Model.ListOfBooks"></select>
                        <span asp-validation-for="BookId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="@Model.ListOfUsers"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BorroweDate" class="control-label"></label>
                        <input asp-for="BorroweDate" class="form-control" />
                        <span asp-validation-for="BorroweDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReturnDate" class="control-label"></label>
                        <input asp-for="ReturnDate" class="form-control" />
                        <span asp-validation-for="ReturnDate" class="text-danger"></span>
                    </div>
                   
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <!--/.col (right) -->
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}